<div id="wall">
    <div class="tag-1"></div>
    <div id="tag-2"></div>  
    <div id="tag-3" class="slickwicked"></div>
    <div class="parent">
      <div id="tag-4"></div>
    </div>
    <div class="parent">
      <div id="tag-5" class="slick"></div>
    </div>
    <div class="parent">
      <div></div>
      <div>
        <div id="tag-6"></div>
      </div>
    </div>
    <div class="parent">
      <div>
        <div id="tag-7" class="slick"></div>
      </div>
 
#wall .tag-1{
  display: none;
}
#wall #tag-2{
  display: none;
}
#wall #tag-3 .slick .wicked{
  display: none;
}
#wall .parent #tag-4{
  display: none;
}
#wall .parent #tag-5 .slick{
  display: none;
}
#wall .parent div #tag-6{
  display: none;
}
#wall .parent div #tag-7{
  display: none;
}
